body {
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}

.card {
  border-radius: 12px;
}


body {
  background: #f8f9fa;
  font-family: "Inter", sans-serif;
}

.card {
  border-radius: 12px;
}
